name: "Terraform Apply"

on:
  workflow_dispatch:


env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  # https://docs.github.com/es/actions/learn-github-actions/environment-variables
  # https://docs.github.com/es/actions/learn-github-actions/contexts
  TF_STATE_NAME: ${{ github.ref }}
  FLUX_VERSION: "0.26.3"

jobs:
  terraform-apply:
    name: "Terraform apply"
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: terraform-plan
    
      - name: Terraform Apply
        if: github.ref == 'refs/heads/master' && github.event_name == 'push' # if: $CI_PIPELINE_SOURCE != "merge_request_event" ; when: manual
        run: |
          terraform apply -auto-approve -input=false
          terraform output -json
          terraform output -json > tf_output.json

      - name: Bootstrap FluxCD
        if: github.ref == 'refs/heads/master' && github.event_name == 'push' # if: $CI_PIPELINE_SOURCE != "merge_request_event" ; when: manual
        # borro instalacion kubectl, no se usa creo.
        run: |
          curl -s https://fluxcd.io/install.sh | bash
          flux -v
          