name: "Terraform Destroy"

on:
  workflow_dispatch:
    inputs:
      cluster_region:
        description: cluster_region description
        required: true
      cluster_name:
        description: cluster_name description
        required: true
      cluster_env:
        description: cluster_env description
        required: true

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}  
  TF_STATE_NAME: $GITHUB_REF # or ${{ github.ref }} ?????
    
jobs:
  terraform-destroy:
    name: "Terraform destroy"
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Install Terraform
        env:
          TERRAFORM_VERSION: "0.13.0"
        run: |
          tf_version=$TERRAFORM_VERSION
          wget https://releases.hashicorp.com/terraform/"$tf_version"/terraform_"$tf_version"_linux_amd64.zip
          unzip terraform_"$tf_version"_linux_amd64.zip
          sudo mv terraform /usr/local/bin/
      
      - name: Download artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          workflow: tf-plan.yaml
          workflow_conclusion: success
          name: terraform-plan
      
      - name: Terraform Destroy
        run: |
          terraform init
          terraform destroy -auto-approve -input=false